.btn1{
    border: 1px solid gray;
    border-radius: 5px;
    color: blueviolet;
    height: 40px;
}
.btn2{
    border: 1px solid gray;
    border-radius: 5px;
    color: green;
    height: 40px;
}
.btn1:hover{
    background-color: chocolate;
    color: black;
}
.btn2:hover{
    background-color: chocolate;
    color: black;
}
.phone-name{
    font-size: 20px;
    color: #385fda;
}
.choose-title{
    font-size: 16px;
    font-weight: bolder;
}
.choose-one{
    font-size: 16px;
    color: #385fda;
    margin-left: 4px;
}